<div class="dashboard">
  <header class="header">
    <div>
      <h1>Proyectos</h1>
      <p>Gestión de proyectos</p>
    </div>
    <button class="btn-primary" (click)="crearProyecto()">
      + Crear Proyecto
    </button>
  </header>
  <section class="projects-container">
    <div *ngIf="loading" class="empty">Cargando proyectos...</div>
    <div *ngIf="!loading && proyectos.length == 0" class="empty">No hay proyectos registrados. Crea uno para empezar
    </div>

    <div class="projects-grid" *ngIf="!loading">
      <div class="project-card card" *ngFor="let proy of proyectos" [routerLink]="['/proyecto',proy.id,'tareas']">
        <div class="project-content">
          <h3>{{proy.nombre}}</h3>
          <p>{{proy.descripcion || 'Sin descripción'}}</p>
        </div>
        <div class="project-footer">
          <span class="badge info">{{proy.totalTareas || 0}}</span>
          <button class="icon-btn delete" (click)="eliminarProyecto(proy.id, $event)">
            🗑️
          </button>
        </div>
      </div>
    </div>
    <div class="pagination" *ngIf="totalPages>=1">
      <button [disabled]="page===0" (click)="cambiarPagina(-1)">◀</button>
      <span>Página {{page + 1}} de {{totalPages}}</span>
      <button [disabled]="page === totalPages -1" (click)="cambiarPagina(1)">▶</button>
    </div>
  </section>

  <div class="modal-backdrop" [class.show]="modalOpen">
    <div class="modal">
      <div class="modal-header">
        <h2>Crear Nuevo Proyecto</h2>
        <button class="close-btn" (click)="cerrarModal()">x</button>
      </div>

      <div class="modal-body">
        <form [formGroup]="formProyecto" (ngSubmit)="guardarProyecto()">
          <div class="form-group">
            <label>Nombre del proyecto</label>
            <input formControlName="nombre" placeholder="Nombre del proyecto" />
          </div>
          <div class="form-group">
            <label>Descripción</label>
            <textarea formControlName="descripcion" placeholder="Descripción"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-secondary" (click)="cerrarModal()">Cancelar</button>
            <button type="submit" class="btn-primary" [disabled]="formProyecto.invalid">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>